/* style.css */


.container {
    border: 2px solid brown;
}

img {
    width: 600px;
    height: auto;
}

.recipe_card {
    background-color: aqua;
}
h1, h2, p, li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.header {
    text-align: center;

}

.steps {
    color: blue;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#violet {
    font-size: larger;
    color: blueviolet;
    font-style: italic;
}

#violet {
    color: black;
}

.steps.green {
    color: green;
}